.dispenser {
    flex-wrap: wrap;
    border-top: 1px solid #000;
    flex-basis: 100%;
    padding: 16px;

    .dispenser__product {
        text-align: center;
        flex-grow: 2;
    }

    .btn__danger {
        padding: 20px;
    }
}
