<section class="product__details flex flex__column">
    <div *ngIf="item.quantity === 0" class="out-of-stock__ribbon"><span>Out of Stock</span></div>

    <header class="product__header">{{ item.name }}</header>
    <div class="product__image">
        <i class="fa-solid fa-bottle-water"></i>
        <i class="fa-solid fa-cookie-bite"></i>
    </div>
    <div class="product__footer flex">
        <span
            ><strong>{{ item.price | currency: 'EUR' : 'symbol' }}</strong></span
        >
        <span
            >Stock: <strong>{{ item.quantity }}</strong></span
        >
    </div>
    <button class="btn__success full-width" (click)="selectProduct(item)" [disabled]="isDisabled">Select</button>
</section>
