<section class="product-wrapper">
    <p class="text-center">{{ item.name }}</p>
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-around">
            <p>{{ item.price | currency: 'EUR' : 'symbol' }}</p>
        </div>
        <p class="text-center">Stock: {{ item.quantity }}</p>
        <button *ngIf="item.quantity > 0; else outOfStock" (click)="selectProduct(item)" [disabled]="isDisabled">
            Select
        </button>
        <ng-template #outOfStock>
            <p>Out of Stock</p>
        </ng-template>
    </div>
</section>
