.product__details {
    position: relative;
    justify-content: space-between;
    min-width: 120px;
    height: 100%;

    .product__header {
        font-size: 1.1rem;
        font-weight: 600;
        border-bottom: 1px solid #000;
        text-align: center;
        padding: 4px;
    }

    .product__image {
        text-align: center;
    }
    .product__footer {
        justify-content: space-around;
        padding-bottom: 4px;
    }

    .out-of-stock__ribbon {
        position: absolute;
        right: 0;
        top: 0px;
        z-index: 1;
        overflow: hidden;
        width: 100px;
        height: 100px;
        text-align: right;

        span {
            display: block;
            position: absolute;
            top: 20px;
            right: -25px;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            line-height: 20px;
            width: 115px;
            background: #ffa101;
            box-shadow: 0 0 10px 3px #ffa112;
            color: #fff;
            transform: rotate(45deg);
        }
    }
}
