.page__wrapper {
    margin: 0 auto;
    width: 90%;

    h1 {
        text-align: center;
    }

    .content__wrapper {
        justify-content: center;
        .machine__wrapper {
            max-width: 600px;
            border: 1px solid black;
        }

        .wallet__wrapper {
            max-width: 200px;
            flex-basis: 100%;
            border: 1px solid black;
            border-left: none;
        }
    }
}
