.page__wrapper {
    margin: 0 auto;
    width: 90%;
    .content__wrapper {
        display: flex;

        .machine__wrapper {
            display: flex;
            flex-direction: column;
            max-width: 600px;
            border: 1px solid black;
        }

        .wallet__wrapper {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
        }
    }
}
