.wallet__container {
    gap: 20px;
    padding: 8px;

    .coin__container {
        justify-content: center;
        .coin-item {
            width: 36px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            border: 1px solid #fae6b1;
            background-color: #fae6b1;
            border-radius: 50%;
            margin-right: 4px;
            box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.3);
            &:hover {
                box-shadow: none;
            }

            &.disabled {
                cursor: not-allowed;
                pointer-events: none;
                opacity: 0.7;
            }
        }
    }

    .btn__container {
        gap: 20px;
        .btn__success,
        .btn__danger {
            padding: 10px 0;
        }
    }

    p {
        text-align: center;
    }
}
